/*body {

  color: #0f072a;
  background-color: #11141a;

  margin: 0;
  font-family: -Apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Arena {
  background-color: #11141a;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 50px;
}

.player {
  background-color:#a2bb7bee;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

input {
  border: 1px solid #edead6;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #bfce9e;
  color: rgb(28, 2, 56);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #2495f3;
}

*/



body {

  color: #2464ec;
  margin: 0;
  font-family: -Apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Arena {
  background-color:#11141a;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: rounded;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 50px;
}

.player {
  background-color:lavender;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #2464ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #2495f3;
}
input:disabled {
  cursor: not-allowed;
}
.card {
  display: none;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 10px -5px #909090;
  animation: grow 0.5s ease-in-out forwards;
  transition: all 0.3s;
}
.coupon-card {
  margin-top: 100px;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#countdown {
  font-size: 48px;
  font-family: 'Segoe UI';
  font-weight: bold;
}